@font-face{
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    background: url(../img/beige.png) repeat #f5f5f5;
    position: relative;
    padding-bottom: 75px;
    font-family: LatoRegular, sans-serif;
}

a, a:visited, a:link {
    color: #F5E2CD;
    text-decoration: none;
}

a:active, a:hover, a:focus {
    color: #A68873;
    text-decoration: none;
}

br.clear {
    clear: both;
}

nav {
    font-family: LatoRegular, sans-serif;
    color: #42353C;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 10px;
}

nav a{
    color: #F5E2CD;
}

nav li{
    float:left;
    padding: 5px;
}

nav ul, #playlist_nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    width:100%; 
    background:#735756; 
    height:50px; 
    border-bottom: 3px solid #42353C;
}
.hamburger{
  background:none;
  position:absolute;
  top:2px;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#F5E2CD;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  display: none;
  background:none;
  position:absolute;
  top:8px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#F5E2CD;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.my_playlists{
    color:#F5E2CD;
    position: absolute;
    top:0px;
    right: 50px;
}

#edit_name_button{
    display: inline-block;
    position: relative;
    background-color: #F59C36;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: 1px solid #F59931;
    bottom: 15px;
}

#edit_name_button p{
    font-family: LatoRegular, sans-serif;
    position: relative;
    margin: 0;
    padding: 7px;
    padding-right: 2px;
    padding-left: 0px;
    font-size: 12px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#edit_name_button img{
    position: relative;
    margin: 0;
    padding: 7px;
    padding-right: 0px;
    padding-left: 4px;
    float:left;
}

#playlist_nav{z-index:1000000; font-weight:bold; font-size:0.8em;  background:#735756; right: 0px;  position:absolute; top: 50px; text-align:center; display: none }
#playlist_nav ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
#playlist_nav li {display: block;   padding:15px 10px 15px 10px; border-top:#42353C 1px solid;}
#playlist_nav ul:last-child{
    border-bottom: 3px solid #42353C;
}
#playlist_nav li:hover{display: block;  background:#785B5A;}
#playlist_nav li:hover a{
   color: #F0D3BC; 
}
#playlist_nav ul li a { text-decoration:none;  margin: 0px; color:#F5E2CD;}

#logo {
    background: url(../img/background.jpg) no-repeat center 60%;
    background-size: cover;
    height: 400px;
    padding-top: 30px;
    border: 1px solid #eee;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
    margin: 50px 0 50px 0;
}

#logo h1{
    font-family: LatoRegular;
    font-size: 3em;
    color: #fff;
}

.logo-small {
    text-align: center;
    margin: 30px;
    height: 50px;
    width: auto;
}

.logo-small h3 {
    display: inline-block;
    position: relative;
    margin: 7px;
    bottom: 11px;
    padding: 0;
    font-size: 1.6em;
}


.content {
    text-align: center;
}

.video {
    margin: 25px;
}

.videos {
    text-align: left;
    list-style: none;
    margin-left: 200px;
    line-height: 1.4em;
}

.videos li {
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.videos a, .videos a:link, .videos a:visited, #how-to a, #how-to a:link, #how-to a:visited, a.back, a:link.back, a:visited.back {
    color: #C23E4D;
}

.videos a:hover, .videos a:focus, .videos a:active, #how-to a:hover, #how-to a:focus, #how-to a:active, a:hover.back, a:focus.back, a:active.back {
    color: #920E1D;
}

.back {
    margin: 10px;
    display: block;
}

.search-results li {
    cursor: inherit;
}

.search-results span {
    position: relative;
    bottom: 40px;
    margin: 10px;
}

a.navigation, a:link.navigation, a:visited.navigation {
    color: #C23E4D;
    margin: 10px;
}

a:hover.navigation, a:focus.navigation, a:active.navigation {
    color: #920E1D;
}

#how-to {
    margin: 0 3em;
}

.form.center {
    width: 465px;
    position: relative;
    left: 50%;
}

.form .new {
    position: relative;
    right: 232px;
}

.form .new .inputs {
    float: left;
    width: 322px;
}

.form input {
    width: 300px;
    margin: 0;
    padding: 1em 10px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
}

.form .new input.name {
    border-top-left-radius: 5px;
}

.form .new input.e-mail {
    font-size: 12px;
    border-top: 0 none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0px;
}

.form input.e-mail, .form input.query {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form input.submit {
    margin: 0;
    border: 0 none;
    background: #8dc63f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.form .new input.submit {
    float: left;
    padding: 36.5px 16px;
    width: 140px;
}

.form input.submit {
    padding: 17px 16px;
    width: 80px;
    margin-left: -4px;
}

.form input.submit:hover, .form input.submit:active, .form input.submit:focus {
    background: #72a230;
}

.error {
    text-align: center;
    color: #e62117;
    padding: 5px;
}

footer {
    font-size: 0.8em;
    position: absolute;
    bottom: -10px;
    left: 50%;
    clear: both;
    margin: 10px;
}

footer .wrapper {
    display: block;
    float: none;
    margin-left: -50%;
}

footer div {
    padding: 10px;
    float: left;
}

footer div.separator {
    border-left: 1px solid #000;
}

.number{
    color: #C23E4D;
}