@font-face{
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

body {
    background: url(../img/grey.png) repeat #f5f5f5;
}

a, a:visited, a:link {
    color: #a1a1a1;
    text-decoration: none;
}

a:active, a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

br.clear {
    clear: both;
}

nav {
    color: #a1a1a1;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px;
    line-height: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul ul {
    margin-left: 20px;
}

#logo {
    text-align: center;
    margin: 50px 0 50px 0;
}

.logo-small {
    text-align: center;
    margin: 10px;
}

.logo-small h3 {
    display: inline;
    position: relative;
    margin: 7px;
    bottom: 11px;
    font-size: 1.6em;
}

.content {
    text-align: center;
}

.video {
    margin: 25px;
}

.videos {
    text-align: left;
    list-style: none;
    margin-left: 200px;
    line-height: 1.4em;
}

.form.center {
    width: 465px;
    position: relative;
    left: 50%;
}

.form .new {
    position: relative;
    right: 232px;
}

.form .new .inputs {
    float: left;
    width: 322px;
}

.form input {
    width: 300px;
    margin: 0;
    padding: 1em 10px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
}

.form .new input.name {
    border-top-left-radius: 5px;
}

.form .new input.e-mail {
    font-size: 12px;
    border-top: 0 none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0px;
}

.form input.e-mail, .form input.query {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form input.submit {
    margin: 0;
    border: 0 none;
    background: #8dc63f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.form .new input.submit {
    float: left;
    padding: 36.5px 16px;
    width: 140px;
}

.form input.submit {
    padding: 17px 16px;
    width: 80px;
    margin-left: -4px;
}

.form input.submit:hover, .form input.submit:active, .form input.submit:focus {
    background: #72a230;
}

.error {
    text-align: center;
    color: #e62117;
    padding: 5px;
}

footer {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 50%;
    clear: both;
    margin: 10px;
}

footer .wrapper {
    display: block;
    float: none;
    margin-left: -50%;
}

footer div {
    padding: 10px;
    float: left;
}

footer div.separator {
    border-left: 1px solid #000;
}