{% extends "playlists/base.html" %}
{% load staticfiles %}

{% block html %}
<html lang="pl" ng-app="PlaylistApp">
{% endblock html %}

{% block logo %}
    <div class="logo-small">
        <img src="{% static "playlists/img/logo-small.png" %}" alt="">
        <h3> : {{ playlist.name }}</h3>
    </div>
{% endblock %}

{% block content %}
{% if playlist.sorted_video_set.all|length > 0 %}
<div class="video">
    <iframe id="ytplayer" type="text/html" width="640" height="390" 
    src="http://www.youtube.com/embed/{{ playlist.sorted_video_set.all.0.identifier }}?autoplay=0&playlist={{ playlist.sorted_video_id_set|join:"," }}" frameborder="0"></iframe>
</div>
{% endif %} 

<form class="form" action="{% url 'playlists:search' playlist.url %}" method="get">
    <input class="query" type="text" name="q" value="" />
    <input class="submit" type="submit" value="Szukaj" />
</form>

<ul class="videos">
    {% for video in playlist.sorted_video_set.all %}
    <li>{{ video.name }} <a href="{% url 'playlists:delete' playlist.url video.identifier %}">Delete</a></li>
    {% endfor %}
</ul>

{% verbatim %}
<div ng-controller="PlaylistCtrl">
    <h3>{{ playlist.name }}</h3>
    <pre>{{ playlist.url }}</pre>

    <ul class="videos">
        <li ng-repeat="video in videos">
            {{ video.name }}
        </li>
    </ul>
</div>
{% endverbatim %}

{% endblock %}
