{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TubeList</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "playlists/img/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "playlists/css/style.css" %}">
    <link rel="stylesheet" href="{% static "playlists/css/normalize.css" %}">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "playlists/js/hamburger.js" %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
    <div id="all">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'playlists:index' %}">HOME</a></li>
                    <li>|</li>
                    <li><a href="{% url 'playlists:how_to' %}">HOW TO</a></li>
                    <li>|</li>
                    <li><a href="{% url 'playlists:recover' %}">RECOVER</a></li>
                    <li>|</li>
                    <li><a href="{% url 'playlists:statistics' %}">STATISTICS</a></li>
                    <li>&nbsp;</li>
                </ul>
                {% if user_playlists %}
                    <p class="my_playlists">MY PLAYLISTS: </p>
                    <button class="hamburger">&#9776;</button>
                    <button class="cross">&#735;</button>
                {% endif %}
            </nav>
            {% if user_playlists %}
            <div id="playlist_nav">
              
                    <ul>
                        {% for playlist in user_playlists %}
                            <li><a href="{% url 'playlists:playlist' playlist.url %}">{{ playlist.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div> 
            {% endif %}
        </header>
        {% block logo %}
            <div id="logo">
                <img src="{% static "playlists/img/logo.png" %}" alt="">
                <h1>Create YouTube playlists with ease!</h1>
            </div>
        {% endblock logo %}
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
        <footer>
            <div class="wrapper">
                <div>Authors:</div>
                <div class="separator">Adam Gołąb</div>
                <div class="separator">Maciej Szymczak</div>
            </div>
        </footer>
        {% block footer_scripts %}
        {% endblock footer_scripts %}
    </div>
</body>
</html>