{% extends "playlists/base.html" %}

{% block content %}
    <div id="how-to">
        <h1>Create a playlist</h1>
        <p>Go back to the <a href="{% url 'playlists:index' %}">homepage</a>. Type the name of your playlist, and if you want to recover playlist in the future, type your e-mail addres and click “Create Playlist“. Now start adding videos to your newly created playlist. It's just that easy!</p>
        <h1>Make your playlist with others</h1>
        <p>Share the url address with your friends which should be able to add videos. Now they can open your playlist. Anyone who opens the link will join the list modification automatically. Things that you change on your playlist appear immediately on every computer with open link.</p>
        <h1>Recover Playlist</h1>
        <p>When you forget link to your playlist, you can use the recover option to send e-mail with links to playlists created by you. Go to the <a href="{% url 'playlists:recover' %}">recover</a> page and type e-mail address which you provided during the creation of your playlist.</p>
{% endblock content %}