{% extends "playlists/base.html" %}
{% load staticfiles %}

{% block logo %}
    <div class="logo-small">
        <img src="{% static "playlists/img/logo-small.png" %}" alt="">
        <h3> : Search results for: {{ query }}</h3>
    </div>
{% endblock %}

{% block content %}
<ul class="search-results videos">
    {% for video in videos %}
    <li><img src="{{ video.snippet.thumbnails.default.url }}" alt=""><span>{{ video.snippet.title }} - <a href="{% url 'playlists:add' playlist_id video.id.videoId video.snippet.title %}">Add</a></span></li>
    {% endfor %}
</ul>
{% if prev_page_token %}
    <a class="navigation" href="{% url 'playlists:search' playlist_id %}?q={{ query }}&page={{ prev_page_token }}">Previous Page</a>
{% endif %}
{% if next_page_token %}
    <a class="navigation" href="{% url 'playlists:search' playlist_id %}?q={{ query }}&page={{ next_page_token }}">Next Page</a>
{% endif %}
{% endblock %}
