{% if videos %}
<a class="back" href="{% url 'playlists:playlist' playlist_id %}">Back to playlist</a>
<h3>Search results for: {{ query }}</h3>
<ul class="search-results videos">
    {% for video in videos %}
    <li><img src="{{ video.snippet.thumbnails.default.url }}" alt=""><span>{{ video.snippet.title }} - <a class="add" href="{% url 'playlists:add' playlist_id video.id.videoId %}?name={{ video.snippet.title|urlencode }}">Add</a></span></li>
    {% endfor %}
</ul>
{% if prev_page_token %}
    <a class="navigation" href="{% url 'playlists:search_ajax' playlist_id %}?q={{ query|urlencode }}&page={{ prev_page_token }}">Previous Page</a>
{% endif %}
{% if next_page_token %}
    <a class="navigation" href="{% url 'playlists:search_ajax' playlist_id %}?q={{ query|urlencode }}&page={{ next_page_token }}">Next Page</a>
{% endif %}
{% endif %}